# Mod 6.5.2 Create Heatmaps for Weather Parameters
One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

import traceback

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ribeira Grande,PT,2021-09-23 21:12:47,38.5167,-28.7000,70.48,64,100,6.89
1,1,Punta Arenas,CL,2021-09-23 21:12:47,-53.1500,-70.9167,48.31,57,75,14.97
2,2,Beringovskiy,RU,2021-09-23 21:03:51,63.0500,179.3167,35.80,98,100,11.65
3,3,Port Elizabeth,ZA,2021-09-23 21:12:48,-33.9180,25.5701,62.10,75,43,13.85
4,4,Qaanaaq,GL,2021-09-23 21:02:54,77.4840,-69.3632,16.20,62,97,6.71

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 Get Vacation Criteria

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Dingle,PH,2021-09-23 21:12:50,10.9995,122.6711,76.01,92,86,5.08
12,12,Victoria,HK,2021-09-23 21:12:51,22.2855,114.1577,85.32,85,71,3.00
15,15,Vaini,TO,2021-09-23 21:12:52,-21.2000,-175.2000,77.16,88,75,9.22
23,23,Atuona,PF,2021-09-23 21:12:56,-9.8000,-139.0333,78.10,74,11,17.45
24,24,Nha Trang,VN,2021-09-23 21:12:56,12.2500,109.1833,77.00,85,100,3.24
28,28,Santa Isabel Do Rio Negro,BR,2021-09-23 21:04:56,-0.4139,-65.0192,78.44,94,91,3.51
33,33,Vanimo,PG,2021-09-23 21:12:59,-2.6741,141.3028,76.71,90,92,5.32
40,40,San Patricio,US,2021-09-23 21:03:14,28.0170,-97.5169,89.58,23,9,6.80
43,43,Riohacha,CO,2021-09-23 21:13:03,11.5444,-72.9072,85.75,70,100,7.54
51,51,Nago,JP,2021-09-23 21:03:18,26.5881,127.9761,78.87,67,0,11.95

In [39]:
preferred_cities_df.count()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [40]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
preferred_cities_df.notnull().sum()

City_ID       156
City          156
Country       155
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [46]:
preferred_cities_df = preferred_cities_df.dropna()

In [47]:
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Dingle,PH,2021-09-23 21:12:50,10.9995,122.6711,76.01,92,86,5.08
12,12,Victoria,HK,2021-09-23 21:12:51,22.2855,114.1577,85.32,85,71,3.00
15,15,Vaini,TO,2021-09-23 21:12:52,-21.2000,-175.2000,77.16,88,75,9.22
23,23,Atuona,PF,2021-09-23 21:12:56,-9.8000,-139.0333,78.10,74,11,17.45
24,24,Nha Trang,VN,2021-09-23 21:12:56,12.2500,109.1833,77.00,85,100,3.24
...,...,...,...,...,...,...,...,...,...,...
539,539,Alappuzha,IN,2021-09-23 21:13:32,9.4900,76.3264,78.33,87,31,11.95
541,541,Manaus,BR,2021-09-23 21:12:34,-3.1019,-60.0250,82.89,83,40,3.44
542,542,Carutapera,BR,2021-09-23 21:16:28,-1.1950,-46.0200,80.35,76,44,9.91
543,543,Morant Bay,JM,2021-09-23 21:16:29,17.8815,-76.4093,83.82,74,53,4.45
544,544,Fayetteville,US,2021-09-23 21:15:08,35.0527,-78.8784,80.10,46,1,5.01

# 6.5.4 Map Vacation Criteria

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                         City Country  Max Temp      Lat       Lng Hotel Name
10                     Dingle      PH     76.01  10.9995  122.6711
12                   Victoria      HK     85.32  22.2855  114.1577
15                      Vaini      TO     77.16 -21.2000 -175.2000
23                     Atuona      PF     78.10  -9.8000 -139.0333
24                  Nha Trang      VN     77.00  12.2500  109.1833
28  Santa Isabel Do Rio Negro      BR     78.44  -0.4139  -65.0192
33                     Vanimo      PG     76.71  -2.6741  141.3028
40               San Patricio      US     89.58  28.0170  -97.5169
43                   Riohacha      CO     85.75  11.5444  -72.9072
51                       Nago      JP     78.87  26.5881  127.9761

In [57]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [59]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Dingle,PH,76.01,10.9995,122.6711,SEGAYA PROPERTY
12,Victoria,HK,85.32,22.2855,114.1577,Mini Hotel Central
15,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
23,Atuona,PF,78.10,-9.8000,-139.0333,Villa Enata
24,Nha Trang,VN,77.00,12.2500,109.1833,Sheraton Nha Trang Hotel & Spa
28,Santa Isabel Do Rio Negro,BR,78.44,-0.4139,-65.0192,Hotel GSA
33,Vanimo,PG,76.71,-2.6741,141.3028,Vahmoneh Lodge Vanimo
40,San Patricio,US,89.58,28.0170,-97.5169,"Motel 6 Sinton, TX"
43,Riohacha,CO,85.75,11.5444,-72.9072,Hotel Taroa
51,Nago,JP,78.87,26.5881,127.9761,Hotel Yugaf Inn Okinawa

In [61]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [63]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [65]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))